[submodule "bsp"]
	path = submodule/esp-mosaico-bsp
	url = https://github.com/esp-mosaico/esp-mosaico-bsp
[submodule "submodule/esp-mosaico-utils"]
	path = submodule/esp-mosaico-utils
	url = https://github.com/esp-mosaico/esp-mosaico-utils.git
[submodule "submodule/raylib-lite-engine"]
	path = submodule/raylib-lite-engine
	url = https://github.com/espressif2022/raylib-lite-engine.git
[submodule "projects/muse-gadget-sdk"]
	path = projects/muse-gadget-sdk
	url = https://github.com/rowline/muse-gadget-sdk.git
	branch = esp-mosaico
